<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/jpg" href="favicon_m.jpg">
			{% seo %}
		</head>
		<body>
				<div class="topnav">
					<a href="/" style="font-size:34px; font-family:Noto Sans, sans-serif; font-weight: 400; color: black">Kim Burghard</a>
				  <div class="topnav-right">
					<a href="/" style="color: black">Home</a>
					<a href="/cv" style="color: black">CV</a></li>
					<a href="/research" style="color: black">Research</a>
				  </div>
				</div>	
			<hr>

			<div class="container">
			
			{{ content }}
	
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kim.burghard@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kimburghard" target="_blank">github</a></li>
				<li><a href="https://www.linkedin.com/in/kimberly-burghard/" target="_blank">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
